<div>
  <h3>
    Angular Calculator
  </h3>

  <cal-display></cal-display>

  <cal-button [buttonType]="digit" [buttonValue]="'1'"></cal-button>
  <cal-button [buttonType]="digit" [buttonValue]="'2'"></cal-button>
  <cal-button [buttonType]="digit" [buttonValue]="'3'"></cal-button>
  <cal-button [buttonType]="digit" [buttonValue]="'4'"></cal-button>
  <cal-button [buttonType]="digit" [buttonValue]="'5'"></cal-button>
  <cal-button [buttonType]="digit" [buttonValue]="'6'"></cal-button>
  <cal-button [buttonType]="digit" [buttonValue]="'7'"></cal-button>
  <cal-button [buttonType]="digit" [buttonValue]="'8'"></cal-button>
  <cal-button [buttonType]="digit" [buttonValue]="'9'"></cal-button>
</div>